@model CompareMotos.Models.Engine

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Engine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeCycle.TimeCycleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cylinder.CylinderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Displacement.DisplacementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cooling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cooling.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EngineId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
