@model CompareMotos.Models.Engine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Engine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeCycle.TimeCycleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cylinder.CylinderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Displacement.DisplacementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cooling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cooling.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EngineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
