@model CompareMotos.Models.Fuel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fuel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeFuel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeFuel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feeding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feeding.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
